input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.masterDiv {
  margin-top: '10%';
  padding: '2% 8%';
}

input[type='submit'] {
  min-width: 10%;
  background-color: #324633;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #324622;
}

div {
  border-radius: 5px;
}
